<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Email Confirmation - thanawy.ai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body >

    click on this link to confirm your email address: <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>

</body>
</html>